{% extends 'base.html.twig' %}

{% block title %}Vehicle{% endblock %}

{% block body %}
    <h1>Vehicle</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ vehicle.id }}</td>
            </tr>
            <tr>
                <th>Brand</th>
                <td>{{ vehicle.brand }}</td>
            </tr>
            <tr>
                <th>Model</th>
                <td>{{ vehicle.model }}</td>
            </tr>
            <tr>
                <th>MadeFrom</th>
                <td>{{ vehicle.madeFrom }}</td>
            </tr>
            <tr>
                <th>MadeTo</th>
                <td>{{ vehicle.madeTo }}</td>
            </tr>
            <tr>
                <th>FuelType</th>
                <td>{{ vehicle.fuelType }}</td>
            </tr>
            <tr>
                <th>EngineCapacity</th>
                <td>{{ vehicle.engineCapacity }}</td>
            </tr>
            <tr>
                <th>Power</th>
                <td>{{ vehicle.power }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('vehicle_index') }}">back to list</a>

    <a href="{{ path('vehicle_edit', {'id': vehicle.id}) }}">edit</a>

    {{ include('vehicle/_delete_form.html.twig') }}
{% endblock %}
